*{
    margin:0;
    padding:0;
}
.grid{
    border:1px solid cyan;
    display: grid;
    max-width:1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}
img {
    width: 100%;
}
.pic{
    grid-column: 1/2;
    grid-row:1/2;
}
  
.title{
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 10em;
    z-index: 1;
    position: relative;
    text-align: center;
    margin-top:5%;
}
.subtitle{
    margin-top:70%;
    text-align:center;
    font-size: 3em;
    color:maroon;
    font-weight: bold;
    ;
}
.gray{
    grid-column: 2/3;
    grid-row:1/2;
    
    background-color: gray;
   
}